@import url('./reset.css');

:root {
  --border-radius: 6px;
  --main-bg-color: white;
  --main-fg-color: black;
  --secondary-fg-color: #E67E22;
  --margin-xx-large: 16px;
  --margin-x-large: 10px;
  --margin-large: 20px;
  --margin-medium: 16px;
  --margin-small: 4px;
  --margin-x-small: 2px;
  --font-large: 36px;
  --font-medium: 24px;
  --font-normal: 15px;
  --font-small: 14px;
  --font-x-small: 14px;
  --line-thickness: 0.25px;
}

a {
  text-decoration: none;
}

html {
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
}
::selection {
  background: var(--secondary-fg-color); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--secondary-fg-color); /* Gecko Browsers */
}

html, body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
    font-size: var(--font-large);
    margin-bottom: var(--margin-medium);
}

h2 {
    font-size: var(--font-medium);
    margin-top: var(--margin-medium);
    margin-bottom: var(--margin-small);
}
h2::selection {
  background: var(--main-fg-color); /* WebKit/Blink Browsers */
}
h2::-moz-selection {
  background: var(--main-fg-color); /* Gecko Browsers */
}

h3 {
    font-size: var(--font-small);
    font-weight: normal;
    margin-bottom: var(--margin-x-small);
}
h3::selection {
  background: var(--main-fg-color); /* WebKit/Blink Browsers */
}
h3::-moz-selection {
  background: var(--main-fg-color); /* Gecko Browsers */
}

p {
    font-family: "Spectral", serif;
    font-weight: 250;
    font-style: normal;
    font-size: var(--font-normal);
    margin-top: var(--margin-medium);
    text-align: left;
}

strong {
  font-size: var(--font-small);
  font-weight: normal;
  text-transform: uppercase;
}

em strong {
  font-size: var(--font-normal);
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  color: var(--secondary-fg-color);
}
em strong::selection {
  background: var(--main-fg-color); /* WebKit/Blink Browsers */
}
em strong::-moz-selection {
  background: var(--main-fg-color); /* Gecko Browsers */
}

input {
  background-color: none;
  background: var(--main-fg-color);
  color: white;
  font-size: var(--font-small);
  padding: var(--margin-x-small);
  border: none;
}

#menu__left {
  float: left;
  color: var(--main-bg-color);
  background-color: var(--main-fg-color);
}
#menu__left li {
  color: white;
}

#menu__right {
  float: right;
  color: var(--secondary-fg-color);
}

#menu {
  width: 100%;
}
#menu a {
  text-decoration: none;
}

#title {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--margin-xx-large) var(--margin-x-large) var(--margin-xx-large);
  text-align: left;
}

#title h3 {
  text-align: center;
  font: var(--font-x-small) "Courier", sans-serif;
}

#title h2 {
  text-align: center;
}

#content {
  padding-left: var(--margin-large);
  padding-right: var(--margin-large);
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  margin-bottom: var(--margin-medium);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

select {
  appearance: none;
  background: var(--main-fg-color);
  background-color: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: var(--font-small);
  overflow:hidden;
  padding: var(--margin-x-small);
  text-align: center;
  -moz-appearance: none; 
  -webkit-appearance: none;
}

button {
  appearance: none;
  background-color: none;
  color: var(--secondary-fg-color);
  cursor: pointer;
  background: none;
  border: none;
  font-size: var(--font-small);
  overflow:hidden;
  padding: 0;
  -moz-appearance: none; 
  -webkit-appearance: none;
}

.card {
    display: inline-block;
    overflow: hidden;
}

.card__tags {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.card__tags h3 {
    color: var(--secondary-fg-color);
    margin-right: var(--margin-x-small);
    text-transform: capitalize;
    font-size: var(--font-x-small);
}

.card__container {
    background-color: var(--secondary-fg-color);
    display: block;
    border: var(--line-thickness) solid white;
    overflow: hidden;
    width: 100%;
    text-decoration: none;
}

.card__cover {
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-bottom: 1px solid white;
}

.card__info {
    padding: var(--margin-small);
}

.card__container h3 {
    color: white;
}

.card__container h3:first-child {
    font-size: var(--font-small);
}

.card__container h3:last-child {
    margin-bottom: 0;
    font-size: var(--font-x-small);
    text-transform: uppercase;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

@media (min-width: 600px) {

    :root {
      --margin-xx-large: 80px;
      --margin-x-large: 20px;
      --margin-large: 24px;
      --margin-medium: 18px;
      --margin-small: 6px;
      --margin-x-small: 5px;
      --font-large: 40px;
      --font-medium: 24px;
      --font-normal: 14px;
      --font-small: 12px;
      --font-x-small: 15px;
      --line-thickness: 0.5px;
    }

}

@media (min-width: 768px) {

    :root {
      --margin-x-large: 40px;
      --margin-large: 30px;
      --margin-medium: 24px;
      --margin-small: 8px;
      --margin-x-small: 6px;
      --font-large: 96px;
      --font-medium: 50px;
      --font-normal: 28px;
      --font-small: 24px;
      --font-x-small: 16px;
      --line-thickness: 1px;
    }

}

@media (min-width: 1080px) {

    :root {
      --margin-xx-large: 200px;
      --margin-x-large: 120px;
      --margin-large: 80px;
      --margin-medium: 25px;
      --margin-small: 12px;
      --margin-x-small: 4px;
      --font-large: 60px;
      --font-medium: 48px;
      --font-normal: 27px;
      --line-thickness: 1.8px;
    }

    li {
      font-size: var(--font-x-small);
    }

    #title {
      margin-bottom: var(--margin-medium);
    }

    p {
      margin-top: var(--margin-small);
    }

}

@media (min-width: 1400px) {

    :root {
      --margin-xx-large: 280px;
      --margin-x-large: 150px;
      --margin-large: 80px;
      --margin-medium: 25px;
      --margin-small: 12px;
      --margin-x-small: 8px;
      --font-large: 60px;
      --font-medium: 48px;
      --font-normal: 27px;
    }

}

@media (min-width: 1800px) {

    :root {
      --margin-xx-large: 40%;
      --margin-large: 80px;
      --margin-medium: 40px;
      --margin-small: 16px;
      --margin-x-small: 10px;
      --font-large: 132px;
      --font-medium: 60px;
      --font-normal: 30px;
      --font-small: 20px;
      --font-x-small: 16px;
    }

}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-toggler {
  padding: 0;
}

.nav-link {
  font-size: var(--font-x-small);
  padding-top: var(--margin-small);
  padding-bottom: 0;
}